
body{
    background-color:#373A40;
}
h1{
    color: teal;
    background-color:papayawhip;
    font-family: Libre Baskerville, serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;

}
body{font-family: Libre Baskerville, serif;
    font-weight: 700;
    font-style: normal;

}
.main {
    color:antiquewhite ;
    background-color:#7AB2B2;
}
img{
    color:gray;
    padding: 5px;
    position: relative;
    left: 30px;
   

}
a {
    color:#FF204E;
}
.bottom{
    text-align: right;
}
.text{
    text-align: center;

}
.text2{
    text-align: center;
}

.footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left: 50px
    
}

.mainz{
    display: flex;
    gap: 100px;
}
h2{
    text-align: center;
}

